@{
    ViewData["Title"] = "Burial Prediction";
}

@model MummyData

<div class="text-center">
    <h1>Burial Prediction</h1>
    <p>
        Welcome to our predictive mummy calculator! Our machine learning model has been trained to predict the orientation of mummies based on various features,
        such as size, location, and the age of the mummy. Whether making a prediction, or filling in missing information, the
        calculator can provide valuable information for the user.
        <br />
        This calculator is in an early stage, look for more features and capabilities to come!
    </p>
</div>
<hr>

<form id="burial-form" class="mx-auto my-4" method="post" action="/Inference/Index">
    <h3 class="mb-4">Calculator</h3>
    <div class="form-group">
        <label class="font-weight-bold" asp-for="squarenorthsouth">North South Coordinate</label>
        <input type="number" asp-for="squarenorthsouth" step="any" placeholder="Enter North South Coordinate" class="form-control">
    </div>
    <div class="form-group">
        <label class="font-weight-bold" asp-for="squareeastwest">East West Coordinate</label>
        <input type="number" asp-for="squareeastwest" step="any" placeholder="Enter East West Coordinate" class="form-control">
    </div>
    <div class="form-group">
        <label class="font-weight-bold" asp-for="depth">Burial Depth</label>
        <input type="number" asp-for="depth" step="any" placeholder="Enter Burial Depth" class="form-control">
    </div>
    <div class="form-group">
        <label class="font-weight-bold" asp-for="length">Mummy Length</label>
        <input type="number" asp-for="length" step="any" placeholder="Enter Mummy Length" class="form-control">
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Is the Mummy an Adult?</label>
        <div class="form-check form-check-inline">
            <input type="radio" name="adultsubadult_A" value="1" class="form-check-input" checked>
            <label class="form-check-label">Adult</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" name="adultsubadult_A" value="0" class="form-check-input">
            <label class="form-check-label">Child</label>
        </div>
    </div>
    <div class="form-group">
        <label class="font-weight-bold">Mummy Wrap Level</label>
        <div class="form-check form-check-inline">
            <input type="radio" name="wrapping_B" value="1" class="form-check-input" checked>
            <label class="form-check-label">Bare Bones</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" name="wrapping_B" value="2" class="form-check-input">
            <label class="form-check-label">Half-Wrapped</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" name="wrapping_B" value="3" class="form-check-input">
            <label class="form-check-label">Fully-Wrapped</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>
<h1>@ViewBag.prediction</h1>

@*<script>
            document.getElementById("burial-form").addEventListener("submit", async (e) => {
                e.preventDefault();

                const northSouth = document.getElementById("north-south").value;
                const eastWest = document.getElementById("east-west").value;
                const burialDepth = document.getElementById("burial-depth").value;
                const mummyLength = document.getElementById("mummy-length").value;
                const mummyAge = document.querySelector('input[name="age"]:checked').value;
                const mummyWrap = document.querySelector('input[name="wrap"]:checked').value;

                const inputData = [northSouth, eastWest, burialDepth, mummyLength, mummyAge, mummyWrap];

                const response = await fetch("your-backend-url", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ input: inputData })
                });

                const result = await response.json();

                // Process the JSON response here (e.g., display it on the page or log it to the console)
                console.log(result);
            });
    </script>*@