@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Burial Summary";
}
<div>
    Here is where burial summary stuff will go
</div>