
@{
    ViewData["Title"] = "Burial Summary";
}
@model IEnumerable<INTEX2.Models.Mummy>

@{
    ViewData["Title"] = "Mummies";
}

<h1>Mummies</h1>
@if (User.IsInRole("Admin"))
{
    <a asp-controller="Home" asp-action="Add_mummy">Add a burial record here</a>
}
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                @foreach (var prop in typeof(Mummy).GetProperties())
                {
                    <th>@prop.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @*            @foreach (var mummy in Model)
                {
                    <tr>
                        @foreach (var prop in typeof(Mummy).GetProperties())
                        {
                            <td>@prop.GetValue(mummy)</td>
                        }
                    </tr>
                }*@
        </tbody>
    </table>
</div>
