@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <partial name="_CookieConsentPartial" />
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <p>
Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery in Egypt that has been under archeological investigation (primarily by BYU researchers) for over 25 years. 
The excavation has garnered international attention because of the interesting insights gained by studying the Fag el-Gamous mummies. 

During multiple years of study, researchers have excavated more than 1,000 mummies and collected data in field notes, spreadsheets, and simple databases about each mummy’s location, 
physical orientation in the ground, burial depth, hair color, wrapping (including information about the textiles used), sex, age, bone (including skull and teeth) dimensions, items accompanying the mummy, and more. 
And, of course, there are many, many photographs. Offsite, researchers have performed a variety of analyses on the excavated items including carbon dating, DNA sequencing, and others.
<br /><br />
Detailed background information on this site can be found in the academic article 
        <a href="https://www-sciencedirect-com.erl.lib.byu.edu/science/article/pii/S2352409X15000188">
        “Rethinking burial dates at a Graeco-Roman Cemetery: Fag el-Gamous, Fayoum, Egypt.”</a>
    </p>
</div>
<div>
    <!-- Gallery -->
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="~/img/2002-0062.JPG"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Boat on Calm Water" />

            <img src="~/img/2002-0067.JPG"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Wintry Mountain Landscape" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="~/img/2002-0069.JPG"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Mountains in the Clouds" />

            <img src="~/img/2002-0071.JPG"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Boat on Calm Water" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="~/img/2002-0072.JPG"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Waves at Sea" />

            <img src="~/img/2002-0073.JPG"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Yosemite National Park" />
        </div>
    </div>
    <!-- Gallery -->
</div>
