/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* filter navbar styles
-------------------------------------------------- */

.header-container-mum {
    position: relative;
    width: 100%;
    /*z-index: 1000;*/
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.titular {
    text-align:center;
}

.containment {
    display: flex;
    /*padding-right: 15px;
    padding-left: 15px;*/
    width: 110%;
    margin-left: -5%;
    /*margin-right: revert;
    margin-right: revert;*/
}

.left-column-mum {
    /* Adjust the width to your preference */
    width: 20%;
    /* Set the background color of the left column */
    background-color: #f0f0f0;
    /* Add some padding to the left column */
    position: absolute;
    padding: 15px;
    margin-left: 10px;
    left: -30%; /* Use the same percentage width as defined above */
    /*    height: 100%;*/
    overflow-y: auto;
    /* z-index: 999;*/
    transition: left 1s;
}

.mid-column-mum {
    width: 1%
}

.content-mum {
    /* Adjust the width to your preference */
    width: 100%;
    transition: margin-left .5s;
}

.filter-input-mum {
    width: 100%; 
    box-sizing: border-box; 
}

/*.filter-btn-mum {
    float: left;
    top: 10px;
    left: 10px;
    margin-bottom: 30px;
    width: 100px;
    position: relative;
    transition: left 1s;
}*/

.filter-btn-mum {
    float: left;
    top: 10px;
    box-shadow: 2px 2px;
    left: 10px;
    margin-bottom: 30px;
    width: 100px;
    height: 30px; /* Add this line to set the height of the box */
    position: relative;
    transition: left 1s;
    background-color: #ccc; /* Add this line to set the background color to gray */
    display: flex; /* Add this line to center the text in the box */
    justify-content: center; /* Add this line to center the text horizontally */
    align-items: center; /* Add this line to center the text vertically */
    cursor: pointer; /* Add this line to change the cursor to a pointer on hover */
    user-select: none; /* Add this line to disable text selection */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add this line to create a shadow */
}

.filter-btn-mum:active {
    transform: translateY(2px); /* Add this line to create a push-down effect on click */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Add this line to adjust the shadow on click */
}

.hide-btn-mum {
    float: left;
    top: 10px;
    box-shadow: 2px 2px;
    left: -100%;
    margin-bottom: 30px;
    width: 150px;
    height: 30px;
    position: relative;
    transition: left 1s;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hide-btn-mum:active {
    transform: translateY(2px); /* Add this line to create a push-down effect on click */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Add this line to adjust the shadow on click */
}

.main-content-mum {
    transition: margin-left .5s;
}

.sidebar-open-mum .left-column-mum {
    left: 0;
}

.sidebar-open-mum .main-content-mum {
    margin-left: 20%; /* Use the same width as defined in .left-column */
}

.sidebar-open-mum .content-mum { /* Change this line */
    margin-left: 22%;
    width: 79%; /* Use the same width as defined in .left-column */
}

.sidebar-open-mum .filter-btn-mum { 
    left: -50%;
    
}

.sidebar-open-mum .hide-btn-mum {
    left:  -50px;
}
/* Radio Button
-------------------------------------------------- */
.toggle-switch {
    display: inline-flex;
    border: 1px solid #ccc;
    overflow: hidden;
}

.switch-option {
    padding: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    user-select: none;
    transition: background-color 0.3s;
}

.switch-option.active {
    background-color: lightblue;
}


/* Delete modal
-------------------------------------------------- */
button {
    background-color: indianred;
    color: white;
    padding: 1%;
    margin: 3px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    button:hover {
        opacity: 1;
    }

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
    float: left;
    width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
    background-color: #ccc;
    color: black;
}

/* Add a color to the delete button */
.deletebtn {
    background-color: #f44336;
}

/* Add padding and center-align text to the container */
.del-container {
    padding: 16px;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

    .close:hover,
    .close:focus {
        color: #f44336;
        cursor: pointer;
    }

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
        width: 100%;
    }
}



/* Search Bar
-------------------------------------------------- */

.search-form {
    border-radius: 30px 0px 0px 30px;
    /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/

}

.input-group-btn {
    display: flex;
    align-items: stretch;
}
.btn-primary {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}


.search-btn {
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
    height: 38px;
    margin:  0 !important;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}


/* Search page
-------------------------------------------------- */

.key-info {
    background-color: #ded4c2;
    text-align: left;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.additional-details {
    background-color: #dcd3cdcc;
    text-align: left;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.notes {
    font-size: 0.9em;
    margin-bottom: 0;
}

.na-text {
    color: rgb(0 0 0 / 29%);
}